<div class="log-in">
    <div class="log-in-content">
        <div class="log-in-rela animate__animated animate__rotateInDownRight animate__delay-1s">
            <div class="title animate__animated animate__fadeIn animate__delay-2s">
                <i class="fa fa-user-circle-o fa-3x" aria-hidden="true"></i>
                <h2>SIGNUP</h2>
            </div>
            <form class="needs-validation" novalidate>
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">First name</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="First name"  required>
                    <div class="valid-tooltip">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Last name</label>
                    <input type="text" class="form-control" id="validationTooltip02" placeholder="Last name"  required>
                    <div class="valid-tooltip">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationTooltipUsername">Email Address</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                      </div>
                      <input type="email" class="form-control" id="validationTooltipUsername" placeholder="Email Address" aria-describedby="validationTooltipUsernamePrepend" required>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="validationTooltip03">City</label>
                    <input type="text" class="form-control" id="validationTooltip03" placeholder="City" required>
                    <div class="invalid-tooltip">
                      Please provide a valid city.
                    </div>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationTooltip04">State</label>
                    <input type="text" class="form-control" id="validationTooltip04" placeholder="State" required>
                    <div class="invalid-tooltip">
                      Please provide a valid state.
                    </div>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationTooltip05">Password</label>
                    <input type="password" class="form-control" id="validationTooltip05" placeholder="Password" required>
                    <div class="invalid-tooltip">
                      Please provide a valid Password.
                    </div>
                  </div>
                </div>
                <button routerLink="/" class="btn btn-submit btn-bkcolor mr-2"  type="submit">CREATE ACOUNT</button>
                <button routerLink="/" class="btn btn-submit btn-danger"  type="submit">CANCEL</button>
              </form>
        </div>
    </div>

</div>