<div class="log-in">
    <div class="log-in-content ">
        <div class="log-in-rela animate__animated animate__fadeInRight animate__delay-1s">
            <div class="title animate__animated animate__fadeIn animate__delay-2s">
                <i class="fa fa-user-circle-o fa-3x" aria-hidden="true"></i>
                <h2>RESET ACCOUNT</h2>
            </div>
              <form>
                <div class="form-row align-items-center">
                  <div class="col-sm-4 my-1">
                    <label class="sr-only" for="inlineFormInputName">Name</label>
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Moha Ahmed">
                  </div>
                  <div class="col-sm-4 my-1">
                    <label class="sr-only" for="inlineFormInputGroupUsername">Email Address</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                      </div>
                      <input type="email" class="form-control" id="inlineFormInputGroupUsername" placeholder="Email Address">
                    </div>
                  </div>
                  <div class="col-sm-4 my-1">
                    <button routerLink="/" class="btn btn-submit btn-bkcolor mr-2"  type="submit">RESET PASSWORD</button>
                    <button routerLink="/" class="btn btn-submit btn-danger"  type="submit">CANCEL</button>
                </div>
                </div>
              </form>
        </div>
    </div>

</div>